{"name":"CT_SERVER_GOOGLE_PILOT","url":"https://ct.googleapis.com/pilot","index":0,"window":1000,"limit":1000000}
{"name":"CT_SERVER_GOOGLE_AVIATOR","url":"https://ct.googleapis.com/aviator","index":0,"window":1000,"limit":1000000}
{"name":"CT_SERVER_DIGICERT_CT1","url":"https://ct1.digicert-https://ct.com/log","index":0,"window":1000,"limit":1000000}
{"name":"CT_SERVER_GOOGLE_ROCKETEER","url":"https://ct.googleapis.com/rocketeer","index":0,"window":1000,"limit":1000000}
{"name":"CT_SERVER_IZENPE_COM_CT","url":"https://ct.izenpe.com","index":0,"window":1000,"limit":1000000}
{"name":"CT_SERVER_SYMANTEC_WS_CT","url":"https://ct.ws.symantec.com","index":0,"window":1000,"limit":1000000}
{"name":"CT_SERVER_WOSIGN_CTLOG","url":"https://ct.wosign.com","index":0,"window":1000,"limit":1000000}
{"name":"CT_SERVER_SYMANTEC_WS_VEGA","url":"https://vega.ws.symantec.com","index":2910,"window":1000,"limit":1000000}
{"name":"CT_SERVER_CNNIC_CTSERVER","url":"https://ctserver.cnnic.cn","index":1320,"window":1000,"limit":1000000}
{"name":"CT_SERVER_GDCA_CT","url":"https://ct.gdca.com.cn","index":0,"window":1000,"limit":1000000}
{"name":"CT_SERVER_GOOGLE_SUBMARINER","url":"https://ct.googleapis.com/submariner","index":0,"window":1000,"limit":1000000}
{"name":"CT_SERVER_IZENPE_EUS_CT","url":"https://ct.izenpe.eus","index":0,"window":1000,"limit":1000000}
{"name":"CT_SERVER_STARTSSL_CT","url":"https://ct.startssl.com","index":394,"window":1000,"limit":1000000}
{"name":"CT_SERVER_VENAFI_API_CTLOG","url":"https://ctlog.api.venafi.com","index":174,"window":1000,"limit":1000000}
{"name":"CT_SERVER_SYMANTEC_WS_DENEB","url":"https://deneb.ws.symantec.com","index":1576,"window":1000,"limit":1000000}
